{% extends 'base.html' %}

{% block title %}Project Form - RPMT{% endblock %}

{% block content %}
<div class="container align-items-center justify-content-center">
    <div class="row mb-3 mx-auto text-center">
        <h1 style="height: 100%; overflow-x: auto; white-space: nowrap; text-align: center;">{{ mode }}</h1>
    </div>
    <div style="width: 75%; height: 450px;" class="row p-3 mx-auto rounded-3 overflow-y-scroll bg-gradient border border-dark-subtle align-items-center justify-content-center">
        <form action="#" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3">
                {{ form.title(class="form-control", placeholder="Title") }}
            </div>
            <div class="form-group mb-3">
                {{ form.abstract(class="form-control", placeholder="Abstract", rows="5") }}
            </div>
            <div class="form-group mb-3">
                {{ form.authors(class="form-control", placeholder="Authors (First Name M.I. Last Name, First Name M.I. Last Name, etc.)") }}
            </div>
            <div class="form-group mb-3">
                {{ form.type(class="form-control w-25", placeholder="Publication Type") }}
            </div>
            <div class="form-group mb-3">
                {{ form.date_published(class="form-control w-25") }}
            </div>
            <div class="form-group mb-3">
                {{ form.publication_name(class="form-control", placeholder="Journal/Book/Publication Conference Name") }}
            </div>
            <div class="form-group mb-3">
                {{ form.publisher(class="form-control", placeholder="Publisher Name") }}
            </div>
            <div class="form-group mb-3">
                {{ form.publisher_type(class="form-control w-25", placeholder="Publisher Type") }}
            </div>
            <div class="form-group mb-3">
                {{ form.publisher_location(class="form-control w-25", placeholder="Publisher Location") }}
            </div>
            <div class="form-group mb-3">
                {{ form.editors(class="form-control", placeholder="Editors (First Name M.I. Last Name, First Name M.I. Last Name, etc.)") }}
            </div>
            <div class="form-group mb-3">
                {{ form.vol_issue_no(class="form-control w-25", placeholder="Volume & Issue No.") }}
            </div>
            <div class="form-group mb-3">
                {{ form.doi_url(class="form-control", placeholder="DOI or URL") }}
            </div>
            <div class="form-group mb-3">
                {{ form.isbn_issn.label(class="form-label") }}
                {{ form.isbn_issn(class="form-select w-25") }}
            </div>
            <div class="form-check mb-3" style="text-align: left;">
                {{ form.web_of_science(class="form-check-input") }}
                {{ form.web_of_science.label(class="form-check-label") }}
            </div>
            <div class="form-check mb-3" style="text-align: left;">
                {{ form.elsevier_scopus(class="form-check-input") }}
                {{ form.elsevier_scopus.label(class="form-check-label") }}
            </div>
            <div class="form-check mb-3" style="text-align: left;">
                {{ form.elsevier_sciencedirect(class="form-check-input") }}
                {{ form.elsevier_sciencedirect.label(class="form-check-label") }}
            </div>
            <div class="form-check mb-3" style="text-align: left;">
                {{ form.pubmed_medline(class="form-check-input") }}
                {{ form.pubmed_medline.label(class="form-check-label") }}
            </div>
            <div class="form-check mb-3" style="text-align: left;">
                {{ form.ched_recognized(class="form-check-input") }}
                {{ form.ched_recognized.label(class="form-check-label") }}
            </div>
            <div class="form-group mb-3">
                {{ form.other_database(class="form-control", placeholder="Other Reputable Collection/Database") }}
            </div>
            <div class="form-group mb-3">
                {{ form.citations(class="form-control w-25", placeholder="No. of Citations") }}
            </div>
            <div class="form-group mb-3">
                {{ form.publication_proof.label(class="form-label") }}
                {{ form.publication_proof(class="form-control") }}
            </div>
            <div class="form-check mb-3" style="text-align: left;">
                {{ form.clear_publication_proof(class="form-check-input") }}
                {{ form.clear_publication_proof.label(class="form-check-label") }}
            </div>
            <div class="form-group mb-3">
                {{ form.utilization_proof.label(class="form-label") }}
                {{ form.utilization_proof(class="form-control") }}
            </div>
            <div class="form-check mb-3" style="text-align: left;">
                {{ form.clear_utilization_proof(class="form-check-input") }}
                {{ form.clear_utilization_proof.label(class="form-check-label") }}
            </div>
            <div class="form-group mb-3">
                {{ form.pdf.label(class="form-label") }}
                {{ form.pdf(class="form-control") }}
            </div>
            <div class="form-check mb-3" style="text-align: left;">
                {{ form.clear_pdf(class="form-check-input") }}
                {{ form.clear_pdf.label(class="form-check-label") }}
            </div>
            {{ form.submit(class="btn mt-3 mb-5 btn-warning") }}

        </form>
    </div>
</div>
{% endblock %}