{% extends 'base.html' %}

{% block title %}Projects - RPMT{% endblock %}

{% block content %}
<div class="container text-center">
    <form action="#" method="POST">
        {{ form.hidden_tag() }}
        <div class="row mb-3 d-flex align-items-center justify-content-center">
            <div class="col-md-auto">
                <h1>{{ mode }} Projects</h1>
            </div>
            <div class="col">
                <div class="row">
                    {{ form.title(class="form-control m-1", style="height: 40px;", type="text", placeholder="Search Title") }}
                </div>
                <div class="row">
                    {{ form.author(class="form-control w-50 m-1", style="height: 40px;", type="text", placeholder="Search Author") }}
                    {{ form.submit(class="btn btn-warning m-1", style="width: 15%;") }}
                </div>
            </div>
        </div>
    </form>
    <div class="row p-3 rounded-3 bg-gradient border border-dark-subtle overflow-y-scroll align-items-center justify-content-center" style="height: 450px">
        {% for entry in data %}
        <a href="{{ entry.id }}" class="row mb-3 btn btn-secondary d-flex align-items-center justify-content-center" style="width: 95%">
            <h3 style="height: 100%; overflow-x: auto; white-space: nowrap; text-align: left;">{{ entry.title }}</h3>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
