{% extends 'base.html' %}

{% block title %}projects - RPMT{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row mb-3 d-flex align-items-center justify-content-center">
        <div class="col-md-auto">
            <h1>Projects</h1>
        </div>
        <div class="col">
            <input class="form-control" type="text" placeholder="Search">
        </div>
    </div>
    <div class="row p-3 rounded-3 bg-gradient border border-dark-subtle overflow-y-scroll align-items-center justify-content-center" style="height: 450px">
        {% for entry in data %}
        <a href="/projects/{{ entry.ID }}" class="row mb-3 btn text-bg-dark border border-dark-subtle d-flex align-items-center justify-content-center" style="width: 95%">
            <h3 style="height: 100%; overflow-x: auto; white-space: nowrap; text-align: left;">{{ entry.Name }}</h3>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
